{% extends '::base.html.twig' %}

{% block body -%}
<div class="card">
    <div class="card-header">
        {{ "inflexion_info" | trans}} {{ word.value }}
        <span class="float-right">
            <a class="btn btn-outline-secondary" href="{{ path('add-to-wordbox', {"id":  word.root.id }) }}">{{ "add_to_wordbox" | trans}}</a>
        </span>
    </div>
    <div class="card-body">
        <h2>{{ "root" | trans}}</h2>
        <a href="{{ path('root', {"id":  word.root.id}) }}">{{ word.root.value }}</a>

        <h2>{{ "cleaned_content" | trans}}</h2>
        {{ word.cleanValue ?  word.cleanValue : "-" }}
    </div>
</div>
{% endblock %}
