<div class="card">
    <div class="card-header">
        Liste des formes ({{ foundableForms | length }})
    </div>
    <ul class="list-group" style="max-height:400px; overflow-y:scroll">
        {% for foundableForm in foundableForms %}
            <li class="list-group-item">
                <span class="btn btn-outline-secondary btn-sm" onClick="wiktionnary.getDef('{{ foundableForm.words[0].root.value }}', '{{ foundableForm.grid.language.value |slice(0,2) }}')">
                    <i class="fab fa-wikipedia-w"></i>
                </span>
                {{ foundableForm.form }}
                <span class="text-muted">
                    ({{ foundableForm.points }}pts)
                </span>
                {% if btn %}
                <span class="btn btn-outline-secondary btn-sm float-right" onclick="findwords.addInflection('{{ foundableForm.form }}')">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'add_to_findwords' | trans }}
                </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
