<div class="row">
    <div class="col">
        <div class="float-right" id="clock-wrapper">
            <span id="clock"></span>
        </div>
        <div id="giveup" class="pt-2 float-right">
            <i class="fas fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>
