{% extends '::base.html.twig' %}

{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

{% block body -%}
{% set languages = get_languages() %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Créer</li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-star fa-4x" aria-hidden="true"></i> {{'Nouvelle partie'|upper}}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary" href="{{ path('massive') }}">{{ 'new_massive' | trans }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-paint-roller fa-4x"></i> {{'Parties en chantier'|upper}}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary" href="{{ path('my_massives_under_construction') }}">{{ 'my_massives_under_construction' | trans }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-check fa-4x" aria-hidden="true"></i> {{'Parties finalisées'|upper}}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary" href="{{ path('my_massives_published') }}">{{ 'my_massives_published' | trans }}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
