{% extends '::base.html.twig' %}

{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

{% block body -%}

{% set languages = get_languages() %}


<div class="row">
    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <i class="fas fa-gamepad fa-4x"></i> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="{{ path('home_play') }}" class="btn btn-primary">{{ 'play' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <i class="fa fa-cogs fa-4x" aria-hidden="true"></i> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="{{ path('home_create') }}" class="btn btn-primary">Créer</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i> With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="{{ path('home_me') }}" class="btn btn-primary">Moi</a>
            </div>
        </div>
    </div>

    <div class="col-12">
      <div class="alert alert-light" role="alert">
        Connecté(s): &nbsp;
        {% for user in get_connected(500) %}
            {{ pmacros.playerPicAndName(user) }} &nbsp;
        {% endfor %}
      </div>
    </div>


</div>
{% endblock %}
