{% extends '::base.html.twig' %}

{% block title %}{{ 'rankings_and_stats' | trans }}{% endblock %}

{% block body -%}
    {% import _self as my_macros %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fff;">
        <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'rankings' | trans }}</li>
      </ol>
    </nav>


    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs  nav-justified" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#massives" aria-controls="massives" role="tab" data-toggle="tab">{{ "massives" | trans }}</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">{{"challenges" | trans }}</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#ranking" aria-controls="ranking" role="tab" data-toggle="tab">{{ "ranking" | trans}}</a></li>
        </ul>

         <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="massives">
                <ul class="list-group">
                    {% for game in games if game.discr == "massive"%}
                    {{ my_macros.game_end_link(game) }}
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="challenges">
                <ul class="list-group">
                    {% for game in games if game.discr == "challenge"%}
                    {{ my_macros.game_end_link(game) }}
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="ranking">...</div>
        </div>
    </div>
{% endblock %}

{% macro game_end_link(game) %}
<li class="list-group-item">
    {% if game.discr == "massive" %}
        <a href="{{ path('massive_end', {"id": game.id}) }}">
            {{ game.name }} {% if game.description %}<span class="text-muted">({{ game.description }})</span>{% endif %}
        </a>
         par <a href="{{ path('profile', {"id":  game.author.id}) }}">{{ game.author }}</a>
    {% elseif game.discr == "challenge" %}
         {% set user = (game.challenged == app.user) ? game.author : game.challenged %}
         <a href="{{ path('challenge_end', {"id": game.id}) }}">{{"challenge"|trans}}</a>
         avec <a href="{{ path('profile', {"id":  user.id}) }}">{{ user }}</a>
    {% endif %}
</li>
{% endmacro %}
