{% import _self as my_macros %}

<div class="card">
    <div id="prototypes"
      data-prototype-constraint="{{ my_macros.constraints_prototype(form.constraints.vars.prototype)|e }}">
    </div>

    <div class="card-header">
        <span class="float-right">
            <span class="btn btn-outline-secondary btn-sm" onclick="constraints.add()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_constraint' | trans }}
            </span>
            <span class='btn btn-primary btn-sm' onclick="objectives.save()">
                <i class="far fa-save" aria-hidden="true"></i>
                {{ 'save_objectives' | trans }}
            </span>
            {#
            <button type="button" class="btn btn-outline-secondary  btn-sm" data-toggle="modal" data-target="#helper-constraint">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ 'see_constraints' | trans }}
            </button>
            #}
        </span>
    </div>

    <ul class="list-group" id="constraints">
    {% for constraint in form.constraints %}
	      {{ my_macros.constraints_prototype(constraint) }}
    {% endfor %}
    </ul>
</div>

{% macro constraints_prototype(constraint) %}
  <li class="list-group-item constraint-objective">
        {{ form_label(constraint.numberToFind) }} : {{ form_widget(constraint.numberToFind) }}
        <span>{{ form_widget(constraint.features) }}</span>
      <span class="float-right">
          <span onclick="objectives.remove(this);" class="btn btn-sm btn-danger">
              <i class="fa fa-times" aria-hidden="true"></i>
          </span>
      </span>
  </li>
{% endmacro %}
