{% extends '::base.html.twig' %}

{% block title %}Massive{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">Créer</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'new_massive' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">
      <span class="float-right">
          <a class="btn btn-outline-secondary" href="{{ path('json_import_form') }}">
              <i class="fas fa-file-upload"></i>
              {{ "json_import" | trans }}
          </a>
      </span>
    </div>
    <div class="card-body">
    {{ form(form) }}
    </div>
</div>

{% endblock %}
