{% extends '::base.html.twig' %}

{% block title %}{{ 'massives' | trans }}{% endblock %}

{% block body -%}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fff;">
        <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_play')}}">Jouer</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'massives' | trans }}</li>
      </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <span class="float-right">
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('popularity', this, '.games', '.game')">
                   <i class="fa fa-sort" aria-hidden="true"></i> {{ "popularity" | trans }}
               </button>
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('roundCount', this, '.games', '.game')">
                   <i class="fa fa-sort" aria-hidden="true"></i> {{ "roundCount" | trans }}
               </button>
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('author', this, '.games', '.game')">
                   <i class="fa fa-sort" aria-hidden="true"></i> {{ "author" | trans }}
               </button>
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('date', this, '.games', '.game')">
                   <i class="fa fa-sort" aria-hidden="true"></i> {{ "date" | trans }}
               </button>
            </span>
        </div>
        <div class="games" id="accordion" role="tablist" aria-multiselectable="true">
            {% for massive in massives if massive not in app.user.endedGames and massive not in app.user.startedGames and massive.author != app.user %}
                {% set popularity = getActivityCount(massive) %}
                {% set roundCount =  massive.rounds|length %}
                <div data-roundcount="roundCount" data-popularity="{{ popularity }}" data-author="{{ massive.author }}" data-date="{{ massive.publishDate|date('Y-m-d H:i:s') }}" class="card game">
                    <div class="card-header" role="tab" id="headingOne">
                        {{ massive.name }} {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
                        par <a href="{{ path('profile', {"id":  massive.author.id}) }}">{{ massive.author }}</a>
                        <span class="float-right">
                            <span class="badge badge-info">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="d-none d-md-inline"> {{ "popularity" | trans }}:</span> {{ popularity }}
                            </span> &nbsp;
                            <a class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" href="#massive-{{ massive.id }}" aria-expanded="true" aria-controls="{{ massive.id }}">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Infos</span>
                            </a>
                            <a class="btn btn-outline-secondary btn-sm" href="{{ path('massive_play', {"code": massive.code}) }}">
                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Jouer</span>
                            </a>
                        </span>
                    </div>

                    <div id="massive-{{ massive.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <ul class="list-group" >
                            {% for i, round in massive.rounds %}
                            <li class="list-group-item">
                                <span class="badge badge-secondary">{{ round.discr | trans }}</span>
                                <span class="badge badge-info">{{ round.language.value | trans }}</span>
                                {% set order = i + 1 %}
                                {{ round.title ? round.title : "round" | trans  ~ " " ~ order }}
                                <span class="text-muted">{{ round.description ? "(" ~ round.description ~ ")" }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                 {% else %}
                <div class="card-body">
                    {{ "no_massive_create" |trans}} <a href="{{ path('massive') }}">{{ 'create' | trans }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
