{% extends '::base.html.twig' %}

{% block title %}{{ 'my_massives_under_construction' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">Créer</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'my_massives_under_construction' | trans }}</li>
  </ol>
</nav>

<div class="card">
  <ul class="list-group list-group-flush">
      {% for massive in massives %}
      <li class="list-group-item">
          <a href="{{ path('massive_builder', {"id": massive.id}) }}">
              {{ massive.name }} {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
          </a>
      </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
