{% extends '::base.html.twig' %}

{% block title %}{{ 'my_massives_published' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">Créer</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'my_massives_published' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <ul class="list-group list-group-flush">
        {% for massive in massives %}
        <li class="list-group-item">
            <a href="{{ path('massive_summary', {"id": massive.id}) }}">
                {{ massive.name }} {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
            </a>
            <span class="float-right">
                <span class="label label-info">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="d-none d-md-inline"> {{ "popularity" | trans }}:</span> {{ getActivityCount(massive) }}
                </span>&nbsp;
                <span class="label label-default">
                    {{ massive.accessType.name | trans }}
                    <a class="btn btn-outline-secondary btn-sm" data-html="true" data-toggle='popover' data-placement="left" title="Lien partie" data-content="
                    {{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('massive_play', {'code': massive.code})}}">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
