{% extends '::base.html.twig' %}

{% block title %}Massive ranking{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">Créer</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('my_massives_published')}}">{{"my_massives_published"|trans}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ "summary" | trans }} - {{ massive.name }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">
      <span class="float-right">
          <span class="btn btn-sm btn-outline-secondary" onclick="builder.export({{massive.id}})">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
              Exporter la partie
          </span>
      </span>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-fill nav-justify" role="tablist">
           <li class="nav-item" role="presentation"><a class="active nav-link" href="#ranking" aria-controls="rounds" role="tab" data-toggle="tab">{{ "ranking" | trans }}</a></li>
           <li class="nav-item" ole="presentation"><a class="nav-link" href="#rounds" aria-controls="rounds" role="tab" data-toggle="tab">{{ "rounds" | trans }}</a></li>
         </ul>

         <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="ranking">
                 {% include "MagicWordBundle:Game/Massive/partials:ranking.html.twig" %}
             </div>
             <div role="tabpanel" class="tab-pane" id="rounds">
                {% include "MagicWordBundle:Game/Massive/partials:rounds.html.twig" %}
             </div>
         </div>
    </div>
</div>

{% include "MagicWordBundle:Game/Massive/partials:export-modal.html.twig" %}
{% endblock %}
