{% extends '::base.html.twig' %}

{% block title %}{{ 'combopoints' | trans }}{% endblock %}

{% block body -%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{path('index_language', {id: combopoints.language.id})}}">{{combopoints.language.value}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('combopoints', {'id': combopoints.language.id}) }}"> {{ "combopoints" | trans }}</a></li>
    <li class="breadcrumb-item active"> Longueur {{ combopoints.length }} </li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
