{% extends '::base.html.twig' %}

{% block body -%}

{% set languages = get_languages() %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Administration</li>
  </ol>
</nav>


<div class="row">
  <div class="col-sm-6 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-star fa-4x" aria-hidden="true"></i> {{ "general_parameters" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary" href="{{ path('general_parameters_edit') }}">{{ 'general_parameters' | trans }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-running fa-4x" aria-hidden="true"></i> {{'Lexiques'|upper}}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Editer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for language in languages %}
              <a class="dropdown-item"  href="{{ path('index_language', {id: language.id}) }}">
                {{ language.value | trans }}
              </a>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
