{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">Administration</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{language.value}}</li>
  </ol>
</nav>

<div class="row">

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
          <i class="fa fa-cogs fa-3x" aria-hidden="true"></i> {{ "parameters" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary"href="{{ path('language_parameters', {'id': language.id}) }}">Editer</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
          <i class="fa fa-star fa-3x" aria-hidden="true"></i> {{ "wordlengthpoints" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary"href="{{ path('wordlengths', {'id': language.id}) }}">Editer</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i> {{ "letterlanguagepoints" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary"href="{{ path('letters', {'id': language.id}) }}">Editer</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i> {{ "combopoints" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary"href="{{ path('combopoints', {'id': language.id}) }}">Editer</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-bug fa-3x"></i> {{ "debug" | trans | upper }}
        </p>
        <p>
          Blabla labla Blab laBlabla BlablaBlabla Blabla Blabla
        </p>
        <a class="btn btn-primary"href="{{ path('language_debug', {'id': language.id}) }}">Voir</a>
      </div>
    </div>
  </div>

</div>


{% endblock %}
