{% extends '::base.html.twig' %}

{% block title %}{{ 'letterlanguagepoints' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{path('index_language', {id: language.id})}}">{{language.value}}</a></li>
    <li class="breadcrumb-item active">Debug</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
      <div class="row">
          <div class="col-sm-6">
            <ul class="list-group mb-2">
              <li class="list-group-item list-group-item-secondary">Stats</li>
              <li class="list-group-item">{{letters|length}} lettres (
                {% for letter in letters %}
                    <strong>{{letter.value}}</strong> -
                {% endfor %}
                )</li>
              <li class="list-group-item">{{countWords}} mots</li>
              <li class="list-group-item">{{countRoots}} roots</li>
              {% set ratio = countWords/countRoots %}
              <li class="list-group-item">{{ratio |round(1) }} mots par root</li>
              <li class="list-group-item">{{countWordStarts}} wordstarts</li>
              <li class="list-group-item">{{countGrids}} grilles</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-group mb-2">
              <li class="list-group-item list-group-item-secondary">Bigrammes fréquents</li>
              {% for bigram in bigrams %}
                <li class="list-group-item">
                    {{bigram}}
                </li>
                {% endfor %}
                <li class="list-group-item list-group-item">...</li>
            </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group mb-2">
            <li class="list-group-item list-group-item-secondary">Meilleures grilles</li>
            {% for grid in bestGrids %}
                <li class="list-group-item">[{{grid.foundableForms|length}}] -
                  {% for square in grid.squares %}
                    {{square.letter.value}}
                  {% endfor %}
                </li>
            {% endfor %}
          </ul>
        </div>
          <div class="col-sm-6">
          <ul class="list-group mb-2">
            <li class="list-group-item list-group-item-secondary">Moins bonnes grilles</li>
            {% for grid in worstGrids %}
                <li class="list-group-item">[{{grid.foundableForms|length}}] -
                  {% for square in grid.squares %}
                    {{square.letter.value}}
                  {% endfor %}
                </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    </div>
</div>
{% endblock %}
