{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{{path('index_language', {id: language.id})}}">{{language.value}}</a></li>
    <li class="breadcrumb-item active"> {{ "letterlanguagepoints" | trans }}</li>
  </ol>
</nav>

<div class="card">
    <ul class="list-group">
    {% for letter in letters %}
        <li class="list-group-item">
            {{letter.value | upper }} - {{letter.value}} - {{ letter.points }}pts
            <span class="float-right">
                <a href="{{ path('letter_edit', {"id":  letter.id}) }}" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-edit" aria-hidden="true"></i> Editer
                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
