{% extends '::base.html.twig' %}

{% block title %}END ROUND{% endblock %}

{% block body -%}

{% set activities = getActivities(round) %}
{% set gameType = round.game.discr %}
{% set roundType = round.discr %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_play')}}">Jouer</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Manche {{ round.displayOrder + 1 }} / {{ round.game.rounds|length}} - {{ gameType | trans }}
    </li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col">
              <span class="float-right">{% include "MagicWordBundle:Round/End:next-"~gameType~".html.twig" %}</span>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid p-1">
            <div class="container">
              <div class="row">
                  <div class="col m-auto">
                  {% include "MagicWordBundle:Round/End:summary.html.twig" %}
                  </div>
                  <div class="col m-auto">
                      {% include "MagicWordBundle:Round/End:grid.html.twig" %}
                  </div>
              </div>
            </div>
        </div>

        <ul class="nav nav-tabs nav-fill">
            {% if roundType == "rush" %}
            <li class="nav-item">
                <a href="#found" class="nav-link active" aria-controls="found" role="tab" data-toggle="tab">
                {{ "found"|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a href="#foundables" class="nav-link" aria-controls="foundables" role="tab" data-toggle="tab">
                {{ "existing_forms"|trans|capitalize}}
                </a>
            </li>
            <li class="nav-item">
                <a href="#combos-done" class="nav-link" aria-controls="combos-done" role="tab" data-toggle="tab">
                {{ "combos_done"|trans}}
                </a>
            </li>
            {% else %}
            <li class="nav-item ">
                <a href="#objectives" class="nav-link active" aria-controls="objectives" role="tab" data-toggle="tab">
                {{ "objectives"|trans}}
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="#accuracy"  class="nav-link" aria-controls="accuracy" role="tab" data-toggle="tab">
                {{ "accuracy"|trans }}
                </a>
            </li>
            {% if gameType != "training" %}
            <li class="nav-item">
                <a href="#ranking"  class="nav-link"  aria-controls="ranking" role="tab" data-toggle="tab">
                {{ "ranking"|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {% if roundType == "rush" %}
            <div role="tabpanel" class="tab-pane fade show active" id="found" style="height:auto;">
                {% include "MagicWordBundle:Round/End:found-forms.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="foundables" style="height:auto;">
                {% include "MagicWordBundle:Round/End:foundable.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="combos-done" style="height:auto;">
                {% include "MagicWordBundle:Round/End:combos-done.html.twig" %}
            </div>
            {% else %}
            <div role="tabpanel" class="tab-pane fade show active" id="objectives" style="height:auto;">
                {% include "MagicWordBundle:Round/End:objectives.html.twig" %}
            </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane fade" id="accuracy" style="height:auto;">
                {% include "MagicWordBundle:Round/End:accuracy.html.twig" %}
            </div>
            {% if gameType != "training" %}
            <div role="tabpanel" class="tab-pane fade" id="ranking" style="height:auto;">
                {% include "MagicWordBundle:Round/End:ranking.html.twig" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
