{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'wordbox' | trans }} ({{ acquisitions|length }}) {{ player is defined ? ' - '~player.username~' - ' }} {{ language.value | trans }}</li>
  </ol>
</nav>

<div class="card">
    <ul class="list-group list-group-flush">
    {% for acquisition in acquisitions %}
        <li class="list-group-item">
            <a href="{{ path('root', {"id":  acquisition.root.id }) }}">{{ acquisition.root.value }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
