{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'parameters' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">
        <span class="float-right">
            <a class="btn btn-sm btn-outline-secondary"href="{{ path('fos_user_change_password') }}">{{ 'edit_password' | trans }}</a>
        </span>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.hidden) }}
        </div>
        <div class="form-group">
            {{ form_row(form.displayMail) }}
        </div>
        <div class="form-group">
            {{ form_row(form.muteSound) }}
        </div>
        <div class="form-group">
            {{ form_row(form.languageUI) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
