{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    {% if user == app.user %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profil</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ 'profile_of' | trans }} {{ user.username }}</li>
    {% endif %}
  </ol>
</nav>

<div class="card">
    <div class="card-header">
        <span class="float-right">
            {% if user == app.user %}
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('profile_edit') }}">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                    {{ 'edit_profile' | trans }}
                </a>
            {% else %}
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('challenge_someone', {"id":  user.id}) }}">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                    {{ 'challenge!' | trans }}
                </a>
                {% if user in app.user.friends %}
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('remove_friend', {"id":  user.id}) }}">{{ 'remove__from_friends' | trans }}</a>
                {% else %}
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('add_friend', {"id":  user.id}) }}">{{ 'add_to_friends' | trans }}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    <div class="card-body">
    {% if user.profilepicPath %}
        <h4> {{ "profile_pic" | trans }} </h4>
        <img height="200px" src="{{ asset('upload/profilepic/' ~ user.profilepicPath) }}"/>
        <hr/>
    {% endif %}
    {% if user.profileText %}
        <h4> {{ "profile_text" | trans }} </h4>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ user.profileText | raw }}
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <hr/>
    {% endif %}
    {% if app.user == user or user.displayMail %}
    <h4> {{ "profile_email" | trans }} </h4>
    {{ user.email }}
    <hr/>
    {% endif %}

    <h4>{{ 'wordbox' | trans }}</h4>
    {% set languages = get_languages() %}
    {% for language in languages %}
    <a href="{{ path('wordbox_user', {playerId:user.id, languageId: language.id}) }}">
        {{ language.value | trans }}
    </a>
    {% endfor %}

  </div>
</div>
{% endblock %}
