{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'edit_profile' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.profileText) }}
        </div>

        <div class="form-group">
            {{ form_label(form.profilePicFile) }}
            {{ form_errors(form.profilePicFile) }}
            {% if app.user.profilepicPath %}
            <div>
                <img height="200px" src="{{ asset('upload/profilepic/' ~ app.user.profilepicPath) }}"/>
            </div>
            {% endif %}
            {{ form_widget(form.profilePicFile) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
