{% extends '::base.html.twig' %}

{% block body -%}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fff;">
        <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'found' | trans }} {{ language.value | trans }}</li>
      </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <span class="float-right">
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('form', this, '#found', '#found li')">
                   <i class="fa fa-sort" aria-hidden="true"></i> A-Z
               </button>
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('points', this, '#found', '#found li')">
                   <i class="fa fa-sort" aria-hidden="true"></i> Points
               </button>
               <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('length', this, '#found', '#found li')">
                   <i class="fa fa-sort" aria-hidden="true"></i> Longueur
               </button>
            </span>
        </div>
        <div class="card-body">
            {% set foundCount = found|length %}
            {% set percent =  (foundCount/foundable * 100) |round(4) %}
            <div class="alert alert-info" role="alert">
                {{ "found_percent" | trans({'%count%': foundCount, '%total%': foundable, '%percent%':percent }) }}
            </div>
            <ul class="list-group" id="found">
            {% for foundform in found %}
                <li class="col-sm-4 list-group-item" data-form="{{ foundform.form }}" data-points="{{ foundform.points }}" data-length="{{ foundform.form|length }}">
                    <a href="{{ path('form_details', {formId: foundform.id, languageId: language.id }) }}">{{ foundform.form | upper }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
